<h1>Stupid Coaching </h1>
<div class="answer-card">
  <p> <%= @question%></p>
  <p class="signature"> -You </p>
</div>
<div class="answer-card">
  <p> <%=  @answer%> </p>
  <p class="signature"> -Your coach </p>
</div>
<a href="/ask"> Ask a new question if you want! </a>